body {
    font-size: 15px;
}

footer {
    padding: 20px 0 10px;
}

.app-header {
    line-height: 48px;
}

.app-header h4 {
    font-size: 24px;
}

.app-description {
    font-size: 14px;
    margin-bottom: 15px;
}

.sql-input-group {
    clear: both;
    margin-bottom: 20px;
}

.sql-input-label {
    height: 45px;
    line-height: 60px;
    margin: 0;
}

#use-input {
    display: inline;
    margin-left: 5px;
    width: 150px;
}

#sql-input {
    width: 100%;
}

.query-actions .btn {
    font-size: 18px;
    margin: 20px 10px 20px 0;
}

.explain-output {
    white-space: nowrap;
}

.explain-output .panel-body {
    overflow-x: auto;
}
